
# Available modules:
#   Weather, Network, Command, Wifi, CPU, Temperature, Memory, Date, Battery
#
# Generic format options:
#   significant_figures, decimals, 
#   low_color, low_value, medium_color, high_value, high_color


template_replace_character: %
align_left: %icon% %StdinReader%
align_center: %cpu%%temperature%%mem% %network%
align_right: %vpn%    %wifi%    %calendar_icon% %date%    %time%    %battery% %trayer_padding%


output_program: xmobar


# Show a small debian logo
Module Command as icon:
update_rate: 0
command: echo -n "<icon=debianlogo2_12x12_BEBEBE.xpm/>"


# TODO: implement weather
# Show the current weather forecast
Module Weather as weather:
update_rate: 3600
location: KEMT
template: <skyCondition>: <fc=#4682B4><tempF></fc>°F <fc=#4682B4><rh></fc>%


Module Network as network:
update_rate: 3
#significant_figures: 3
decimals: 0
smallest_unit: K
min_width: 8
low_color: #8bc34a
low_value: 1000000
medium_color: #eeba44
high_value: 5000000
high_color: #ff7070
template: <rx> <tx>(<dev>)


Module Command as vpn:
update_rate: 15
command: xmobar_vpn.py -t "<vpnstatus>" --on-vpn-status "<icon=vpn_12x20_BEBEBE.xpm/> <name_short>" --off-vpn-status ""


Module Wifi as wifi:
update_rate: 3
low_color: #ff7070
low_value: 10
medium_color: #eeba44
high_value: 32
high_color: #8bc34a
template: <icon=wififill_12x12_BEBEBE_9steps_%%.xpm/> <essid_short>


Module CPU as cpu:
update_rate: 1
decimals: 0
min_width: 6
low_color: #8bc34a
low_value: 25
medium_color: #eeba44
high_value: 50
high_color: #ff7070
template: <total>%


Module Temperature as temperature:
update_rate: 1
decimals: 0
min_width: 3
type: thermalzone
zone: 9
low_color: #8bc34a
low_value: 50
medium_color: #eeba44
high_value: 85
high_color: #ff7070
template: <temp>C


Module Memory as mem:
update_rate: 3
min_width: 7
low_color: #8bc34a
low_value: 50
medium_color: #eeba44
high_value: 80
high_color: #ff7070
hide_if_under_value: 5
template: <usedratio>%


Module Date as date:
update_rate: 3
template: %b %d


Module Command as calendar_icon:
update_rate: 30
command: xmobar_format_calendar_icon <icon=calendar_12x13_BEBEBE_42steps_2d_week_<weeknum>_day_<daynum>.xpm/>


Module Date as time:
update_rate: 2
template: <icon=clock_12x12_BEBEBE_24steps_%H.xpm/> <fc=#ee9a00>%H:%M</fc>


Module Battery as battery:
update_rate: 10
low_color: #ff7070
low_value: 15
medium_color: #eeba44
high_value: 50
high_color: #8bc34a
discharging_template: <icon=battery_ipodmini_conditionalfill_12x22_BEBEBE_16steps_$$.xpm/> (<timeleft>)
charging_template: <icon=battery_ipodmini_conditionalfill_12x22_BEBEBE_16steps_$$.xpm/> <icon=lightningbolt_12x9_BEBEBE.xpm/> (<timeleft>)
idle_template: <icon=battery_ipodmini_greenfill_12x22_BEBEBE_16steps_$$.xpm/>


Module Command as trayer_padding:
update_rate: 5
command: generate-tray-padding





