
# Available modules:
#   Weather, Network, Command, Wifi, CPU, Temperature, Memory, Date, Battery
#
# Generic format options:
#   significant_figures, decimals, 
#   low_color, low_value, medium_color, high_value, high_color


template_replace_character: %
align_left: %random_logo% %StdinReader%
align_center: %cpu%%temperature% %mem% %network_speed% %connectivity_check% %low_battery_warning%
align_right: %vpn%    %wifi%    %calendar_icon% %date%    %time%    %battery% %trayer_padding%

output_program: xmobar


# Show a small debian logo
Module Command as icon:
update_rate: 0
command: echo -n "<icon=debianlogo2_12x12_BEBEBE.xpm/>"


# Show a random logo, change every 10 hours
Module Command as random_logo:
update_rate: 36000
command: python3 -c "import random as r; print('<icon={}/>'.format(r.choice('debianlogo2_12x12_BEBEBE.xpm pokeball_12x12_BEBEBE.xpm wireframecube_13x13_BEBEBE.xpm'.split())), end='')"


# TODO: implement weather
# Show the current weather forecast
Module Weather as weather:
update_rate: 3600
location: KEMT
template: <skyCondition>: <fc=#4682B4><tempF></fc>°F <fc=#4682B4><rh></fc>%


Module Network as network_speed:
update_rate: 1
#significant_figures: 3
decimals: 0
smallest_unit: K
min_width: 8
low_color: #8bc34a
low_value: 1000000
medium_color: #eeba44
high_value: 5000000
high_color: #ff7070
hide_if_under_value: 10000
#template: <rx> <icon=downarrow_12x9_BEBEBE_10steps_9.xpm/> <tx> <icon=uparrow_12x9_BEBEBE_10steps_9.xpm/>
template: <rx> down <tx> up
network_down_message: 


Module Command as vpn:
update_rate: 15
command: xmobar_vpn.py -t "<vpnstatus>" --on-vpn-status "<icon=vpn_12x20_BEBEBE.xpm/> <name_short>" --off-vpn-status ""


Module Wifi as wifi:
update_rate: 3
low_color: #ff7070
low_value: 10
medium_color: #eeba44
high_value: 32
high_color: #8bc34a
template: <icon=wififill_12x12_BEBEBE_9steps_%%.xpm/> <essid_short>


# doesn't work because this command is not parsed by bash
Module Command as connectivity_check:
update_rate: 5
command: bash -c 'ping -w 1 8.8.8.8 > /dev/null && echo -n "" || echo -n "<fc=#ff7070>[no inet]</fc>"'


Module CPU as cpu:
update_rate: 2
decimals: 0
min_width: 6
low_color: #8bc34a
low_value: 25
medium_color: #eeba44
high_value: 50
high_color: #ff7070
hide_if_under_value: 6
#template: <total>% <icon=cpu_12x13_BEBEBE_8steps_7.xpm/>
template: <total>%


Module Temperature as temperature:
update_rate: 1
decimals: 0
min_width: 3
type: thermalzone
zone: 9
low_color: #8bc34a
low_value: 50
medium_color: #eeba44
high_value: 85
high_color: #ff7070
hide_if_under_value: 50
#template: <temp>C <icon=temp_12x7_BEBEBE_10steps_9.xpm/>
template: <temp>C


Module Memory as mem:
update_rate: 3
min_width: 7
low_color: #8bc34a
low_value: 50
medium_color: #eeba44
high_value: 80
high_color: #ff7070
hide_if_under_value: 50
#template: <usedratio>% <icon=memory_12x13_BEBEBE_8steps_7.xpm/>
template: <usedratio>% mem


Module Date as date:
update_rate: 3
template: %b %d


Module Command as calendar_icon:
update_rate: 30
command: xmobar_format_calendar_icon <icon=calendar_12x13_BEBEBE_42steps_2d_week_<weeknum>_day_<daynum>.xpm/>


# TODO: make a calendar module
#Module Calendar as calendar_icon:
#update_rate: 30


Module Date as time:
update_rate: 2
template: <icon=clock_12x12_BEBEBE_24steps_%H.xpm/> <fc=#ee9a00>%H:%M</fc>


Module Battery as battery:
update_rate: 5
low_color: #ff7070
low_value: 15
medium_color: #eeba44
high_value: 50
high_color: #8bc34a
discharging_template: <icon=battery_ipodmini_conditionalfill_12x22_BEBEBE_16steps_$$.xpm/> (<timeleft>)
charging_template: <icon=battery_ipodmini_conditionalfill_12x22_BEBEBE_16steps_$$.xpm/> <icon=lightningbolt_12x9_BEBEBE.xpm/> (<timeleft>)
idle_template: <icon=battery_ipodmini_greenfill_12x22_BEBEBE_16steps_$$.xpm/>


Module Battery as low_battery_warning:
update_rate: 20
hide_if_over_value: 30
discharging_template:    <fc=#ff7070>only <timeleft> left</fc>
charging_template: 
idle_template: 

# disabled because this uses sudo, which does not work. not sure if I want it to work. could probably make
# undervolt python script work without sudo
#
#Module Command as undervolt_missing_warning:
#update_rate: 5
#command: sudo bash -c "python3 /home/g0tmk/repos/undervolt-georgewhewell/undervolt.py --read"


Module Command as trayer_padding:
update_rate: 5
command: generate-tray-padding





