
# Available modules:
#   Weather, Network, Command, Wifi, CPU, Temperature, Memory, Date, Battery
#
# Generic format options:
#   significant_figures, decimals, 
#   low_color, low_value, medium_color, high_value, high_color


template_replace_character: %
align_left:  stdinreader:%StdinReader%  network:%network%
align_center: cpu:%cpu%  temp:%temperature%  mem:%mem%
align_right: date:%date%  time:%time%  battery:%battery% 


# Show the current weather forecast
Module Weather as weather:
update_rate: 3600
location: KEMT
template: <skyCondition>: <fc=#4682B4><tempF></fc>°F <fc=#4682B4><rh></fc>%


Module Network as network:
update_rate: 3
significant_figures: 3
units: auto
smallest_unit: k
template: <rx> <tx>(<dev>)


# TODO: implement wifi module
# Module Wifi as wifi:
# update_rate: 3
# template: <icon=wififill_12x12_BEBEBE_9steps_%%.xpm/> <essid_short>


Module CPU as cpu:
update_rate: 1
decimals: 0
template: <total>%


Module Temperature as temperature:
update_rate: 1
decimals: 0
type: thermalzone
zone: 9
template: <temp>C


Module Memory as mem:
update_rate: 3
template: <usedratio>%


Module Date as date:
update_rate: 3
template: %b %d


Module Date as time:
update_rate: 2
template: %H:%M:%S


Module Command as battery:
update_rate: 10
command: xmobar_battery.py BAT0





