
# Available modules:
#   Weather, Network, Command, Wifi, CPU, Temperature, Memory, Date, Battery
#
# Generic format options:
#   significant_figures, decimals, 
#   low_color, low_value, medium_color, high_value, high_color


template_replace_character: %
align_left: %icon% %StdinReader% %time% %cpu% %temperature% %network%


# Show a small debian logo
Module Command as icon:
update_rate: 0
command: echo -n "<icon=debianlogo2_12x12_BEBEBE.xpm/>"


Module Date as time:
update_rate: 2
template: <icon=clock_12x12_BEBEBE_24steps_%H.xpm/> <fc=#ee9a00>%H:%M</fc>


Module CPU as cpu:
update_rate: 1
low_color: #8bc34a
low_value: 25
medium_color: #eeba44
high_value: 50
high_color: #ff7070


Module Command as trayer_padding:
update_rate: 5
command: generate-tray-padding



Module Temperature as temperature:
update_rate: 1
significant_figures: 3
type: thermalzone
zone: 9
low_color: #8bc34a
low_value: 50
medium_color: #eeba44
high_value: 85
high_color: #ff7070
template: <temp>C



Module Network as network:
update_rate: 3
significant_figures: 3
units: auto
smallest_unit: k
low_color: #8bc34a
low_value: 1000000
medium_color: #eeba44
high_value: 5000000
high_color: #ff7070
template: <rx> <tx>(<dev>)


